---
Checks: >
  -*,
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-core*,
  clang-analyzer-cplusplus*,
  clang-analyzer-optin.cplusplus.UninitializedObject,
  clang-analyzer-optin.cplusplus.VirtualCall,
  clang-analyzer-security*,
  clang-analyzer-unix*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-special-member-functions,
  google-*,
  -google-readability-avoid-underscore-in-googletest-name,
  -google-readability-casting,
  -google-readability-todo,
  -google-runtime-references,
  llvm-*,
  -llvm-header-guard,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-concat-nested-namespaces,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,

WarningsAsErrors: ""
FormatStyle: "file"
CheckOptions:
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: "1"
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: "1"
  - key: google-runtime-int.TypeSuffix
    value: "_t"
